<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Welcome to TaskManager</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">A modern, clean, and responsive application to help you manage your tasks efficiently. Get started by viewing your tasks.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a th:href="@{/tasks}" class="btn btn-primary btn-lg px-4 gap-3">Go to My Tasks</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>